[submodule "Album_example"]
	path = Album_example
	url = https://github.com/jackson97parada/Album_example.git
[submodule "Pricing_example"]
	path = Pricing_example
	url = https://github.com/jackson97parada/Pricing_example.git
[submodule "Product_example"]
	path = Product_example
	url = https://github.com/jackson97parada/Product_example.git
