[submodule "Album_example"]
	path = Album_example
	url = https://github.com/jackson97parada/Album_example.git
[submodule "Pricing_example"]
	path = Pricing_example
	url = https://github.com/jackson97parada/Pricing_example.git
[submodule "Product_example"]
	path = Product_example
	url = https://github.com/jackson97parada/Product_example.git
[submodule "Checkout_example"]
	path = Checkout_example
	url = https://github.com/jackson97parada/Checkout_example.git
[submodule "Blog_example"]
	path = Blog_example
	url = https://github.com/jackson97parada/Blog_example.git
[submodule "Headers_example"]
	path = Headers_example
	url = https://github.com/jackson97parada/Headers_example.git
[submodule "Heroes_example"]
	path = Heroes_example
	url = https://github.com/jackson97parada/Heroes_example.git
[submodule "Features-example"]
	path = Features-example
	url = https://github.com/jackson97parada/Features-example.git
[submodule "Sidebars_example"]
	path = Sidebars_example
	url = https://github.com/jackson97parada/Sidebars_example.git
[submodule "Dropdowns_example"]
	path = Dropdowns_example
	url = https://github.com/jackson97parada/Dropdowns_example.git
[submodule "ListGroups_example"]
	path = ListGroups_example
	url = https://github.com/jackson97parada/ListGroups_example.git
[submodule "Footers_example"]
	path = Footers_example
	url = https://github.com/jackson97parada/Footers_example.git
[submodule "Modals_examples"]
	path = Modals_examples
	url = https://github.com/jackson97parada/Modals_examples.git
[submodule "Trafalgar_landingPage"]
	path = Trafalgar_landingPage
	url = https://github.com/jackson97parada/Trafalgar_landingPage.git
